{% extends "navbar.html" %}

{% block title %}Recipe Input Form{% endblock %}

{% block content %}
<div style="max-width: 500px; margin: auto; background-color: #fff; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <h2 style="text-align: center; color: #333;">Recipe Input Form</h2>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="recipeName" style="display: block; margin-bottom: 10px; color: #555;">Recipe Name:</label>
        <input type="text" required id="recipeName" name="recipeName" style="width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px;">

        <label for="recipeDescription" style="display: block; margin-bottom: 10px; color: #555;">About the Recipe:</label>
        <textarea id="recipeDescription" required name="recipeDescription" rows="5" style="width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px;"></textarea>

        <label for="recipeImage" style="display: block; margin-bottom: 10px; color: #555;">Upload Recipe Image:</label>
        <input type="file" id="recipeImage" name="recipeImage" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
       
        <h2 style="text-align: center; color: #333;">OR</h2>
       
        <label for="recipeImageUrl" style="display: block; margin-bottom: 10px; color: #555;">Upload Recipe Image URL:</label>
        <input type="url" id="recipeImageUrl" name="recipeImageUrl" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">

        <button type="submit" style="width: 100%; padding: 10px; background-color: #28a745; color: white; border: none; border-radius: 4px; cursor: pointer; margin-top: 20px;">Submit</button>
    </form>
</div>
{% endblock %}
